@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

a,
a:hover,
a:visited,
a:active {
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    display: block;
    text-decoration: none;
}

button,
input[type="submit"] {
    cursor: pointer;
}

.z-index-4 {
    z-index: 4;
}

.p-relative {
    position: relative;
}

.display-table {
    display: table;
    height: 100%;
    min-height: 300px;
    width: 100%;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.auth_body {
    background: url(../images/auth_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    background-size: cover;
}

.auth_body::before {
    content: "";
    background-color: #00000070;
    position: absolute;
    z-index: 1;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
}

.auth_body .c-width {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    margin: 0px auto;
}

.auth_body .col-bg1 {
    background-color: #ffffff94;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 500px;
    display: table;
}

.auth_body .col-bg2 {
    background-color: #fff;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 500px;
    display: table;
}

.auth_body #login {
    margin-top: 20px;
    background-color: #f1b82d;
    border: 0;
    width: 100%;
    padding: 10px 0px;
    font-weight: 600;
}

.auth_body .custome-form-control {
    position: relative;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.auth_body .custome-form-control i {
    position: absolute;
    top: 10px;
    right: 13px;
    cursor: pointer;
}
